<div class="dashboard-ecommerce">
    <div class="container-fluid dashboard-content ">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">Users List </h2>
                    <div class="page-breadcrumb">
                      <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Users List</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

	    <div class="row">
	        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
	            <div class="card">

	                <div class="card-body">
						<div class="user-loading-shade" *ngIf="isLoadingResults">
							<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
						</div>
						<table mat-table [dataSource]="data"  
							matSort matSortActive="first_name" matSortDisableClear matSortDirection="asc">

							<ng-container matColumnDef="first_name">
								<th mat-header-cell *matHeaderCellDef>First Name</th>
								<td mat-cell *matCellDef="let row">{{row.first_name}}</td>
							</ng-container>

							<ng-container matColumnDef="last_name">
								<th mat-header-cell *matHeaderCellDef>Last Name</th>
								<td mat-cell *matCellDef="let row">{{row.last_name}}</td>
							</ng-container>
		
							<ng-container matColumnDef="email">
								<th mat-header-cell *matHeaderCellDef>Email</th>
								<td mat-cell *matCellDef="let row">{{row.email}}</td>
							</ng-container>

							<ng-container matColumnDef="phone">
								<th mat-header-cell *matHeaderCellDef>Phone</th>
								<td mat-cell *matCellDef="let row">$ {{row.phone}}</td>
							</ng-container>


							<ng-container matColumnDef="action">
							    <th mat-header-cell *matHeaderCellDef>action</th>
							    <td mat-cell *matCellDef="let row">
							    	
							    <mat-card-actions>
							      <a mat-flat-button color="primary" [routerLink]="['/user-edit', row.id]"><mat-icon>edit</mat-icon></a>
							      <a mat-flat-button color="warn" (click)="openDialog(row.id)"><mat-icon>delete</mat-icon></a>
							      
							       <!-- <a mat-flat-button color="warn" (click)="deleteUser(row.id)"><mat-icon>delete</mat-icon></a> -->

							    </mat-card-actions>

							    </td>
							</ng-container>
							<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
							<tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
						</table>
	                </div>
	            </div>
	        </div>
	    </div>
    </div>
</div>









